<div class="container">
  <div>
    <ion-badge color="light">Practical Uses</ion-badge>
    <h2>Everyday Life</h2>
    <p>
      Explore how LinguaLink, AI-powered sign language translation platform can transform communication across various
      industries.
    </p>
    <ion-list>
      <ion-item class="selected">
        <ion-icon src="https://via.placeholder.com/50" slot="end" />
        <ion-label>Healthcare</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon src="https://via.placeholder.com/50" slot="end" />
        <ion-label>Education</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div class="use-case" style="background-image: url('https://via.placeholder.com/800x400')">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon src="https://via.placeholder.com/50" />
          <h2>Healthcare</h2>
        </ion-card-title>
        <ion-card-subtitle>Enabling seamless communication between deaf patients and healthcare providers through real-time sign language translation.</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
  <div class="use-case" style="background-image: url('https://via.placeholder.com/800x400')">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon src="https://via.placeholder.com/50" />
          <h2>Education</h2>
        </ion-card-title>
        <ion-card-subtitle>Enabling seamless communication between deaf students and teachers and their fellow students providers through real-time sign language translation.</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</div>