<div class="container">
  <h2>Meet your innovator</h2>
  <p>
    I am an innovator committed to creating solutions that shape the future.
  </p>
  <div class="cards-container">
    <ion-card>
      <ion-badge>innovator</ion-badge>
      <ion-card-header>
        <ion-avatar>
          <img src="assets/appearance/random-3.jpg" alt="Tamara Nkatha Nguo" />
        </ion-avatar>
        <ion-card-title>Tamara Nkatha Nguo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Tamara is a passionate innovator from Light International School, who aims to better the future with affordable, accessible solutions</p>
      </ion-card-content>
    </ion-card>
  </div>
</div>
